<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Enter Verification Code</h2>

    {% if error %}
    <p style="color:red">{{ error }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="code" placeholder="Enter 6 Digit Code" required>
        <button type="submit">Verify</button>
    </form>

</body>

</html>